// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   =  #7DC6EC
$secondary = #272822
$accent    = #1E2128


$positive  = #21BA45
$negative  = #CB2739
$info      = #31CCEC
$warning   = #F2C037


$primary-light = lighten($primary, 80%) 

:root
  --q-color-primary-light $primary-light

.text-primary-light{
  color $primary-light !important
  color var(--q-color-primary-light) !important 
}

.bg-primary-light{
   background $primary-light !important
  background var(--q-color-primary-light) !important 
}

